{% extends 'base.html.twig' %}

{% block title %}Hackat'Agence - Liste des hackathons
{% endblock %}

{% block body %}

	<div class="container">
		<br>
		<div class="shadow p-3 mb-5 bg-white rounded">
			<h1>Liste des hackathons</h1>
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">
				<h5>{{ message }}</h5>
			</div>
			<br>
    	{% endfor %}
		{% for message in app.flashes('failure') %}
			<div class="alert alert-danger" role="alert">
				<h5>{{ message }}</h5>
			</div>
			<br>
    	{% endfor %}

		<div class="container">
			<!-- barre de recherche -->
			<nav class="navbar">
				<div class="container-fluid">
					<a class="navbar-brand"></a>
					<form class="d-flex" role="search" id="searchForm">
					 	<input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" id="searchInput">
						&nbsp;
						<button class="btn btn-primary" type="button" id="searchButton">OK</button>
					</form>
				</div>
			</nav><br>

			<!-- affichage des hackathons -->
			<div class="row">
				{% set i = 0 %}
				{% for unHackathon in lesHackathons %}
					<div class="card w-20" style="width: 20rem; margin-bottom:15px;">
						<div class="card-body">
							<h5 class="card-title">{{unHackathon.titre}}</h5>
							<p class="card-text">
								<strong>Date :</strong>
								{{unHackathon.dateDebut|date('d/m/Y')}}</p>
							<p class="card-text">
								<small class="text-body-secondary">{{unHackathon.nbPlacesMax}} places restantes</small>
								<br>
								<!-- fonctionnalité d'ajout aux favoris si utilisateur connecté -->
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<h5>
									<!-- on vérifie si ce hackathon a déjà été ajoutée aux favoris par l'utilisateur -->
									{% set dejaLike = false %}
									{% for unFavori in lesFavoris %}
										{% if unFavori.leHackathon == unHackathon and unFavori.leParticipant == app.user %}
											{% set dejaLike = true %}
										{% endif %}
									{% endfor %}
									<!-- on affiche l'icône correspondante -->
									{% if dejaLike == true %}
										<button type="button" class="btn btn-light" onclick="addToFavorite({{i}}, {{unHackathon.id}})">
											<i data-url="{{ path('app_newfavorite',{idHackathon:unHackathon.id, idParticipant:app.user.id}) }}"
											id="icon-favorite_{{i}}"
											class="bi bi-heart-fill"
											style="color:red; cursor:pointer;">
											</i>
											Favori
										</button>
										
									{% else %}
										<button type="button" class="btn btn-light" onclick="addToFavorite({{i}}, {{unHackathon.id}})">
											<i data-url="{{ path('app_newfavorite',{idHackathon:unHackathon.id, idParticipant:app.user.id}) }}"
											id="icon-favorite_{{i}}"
											class="bi bi-heart"
											style="color:black; cursor:pointer;">
											</i>
											Favori
										</button>
									{% endif %}
								</h5>
							</p>
							<!-- Script d'ajout aux favoris -->
							<script>
								function addToFavorite(n, idHackathon) {
									//récupération des éléments nécessaires
									var iconFavorite = document.getElementById('icon-favorite_' + n);
									var url = iconFavorite.getAttribute('data-url');
									
									var xhr = new XMLHttpRequest();
									xhr.open("get", url);
									xhr.responseType = "json";
									xhr.send();
									
									xhr.onload = function () {
										console.log(xhr.status);
										//si le hackathon est déjà en favori, on le retire
										if (xhr.status == 409) {
											//changement d'icône
											iconFavorite.className = "bi bi-heart";
											iconFavorite.style.color = "black";
										//Si le statut HTTP est 200, on ajoute l'hackathon aux favoris
										} else if (xhr.status == 200) {
											//changement d'icône
											iconFavorite.className = "bi bi-heart-fill";
											iconFavorite.style.color = "red";
										}
									};
									//Si la requête n'a pas pu aboutir...
									xhr.onerror = function () {
										alert("La requête a échoué");
									}
								}
							</script>

							{% endif %}

							<div class="accordion" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{i}}">
											Détails
										</button>
									</h2>
									<div id="collapse_{{i}}" class="accordion-collapse collapse">
										<div class="accordion-body">
											<p>
												<strong>Adresse :</strong>
												{{unHackathon.rue}},
												{{unHackathon.codePostal}},
												{{unHackathon.ville}}
											</p>
											<p>
												<strong>Dates précises :</strong>
												<br>
												Du
												{{unHackathon.dateDebut|date('d/m/Y')}}
												à
												{{unHackathon.heureDebut|date('H:i')}}
												<br>
												Au
												{{unHackathon.dateFin|date('d/m/Y')}}
												à
												{{unHackathon.heureFin|date('H:i')}}
											</p>
											<p>
												<strong>Date limite d'inscription :</strong>
												{{unHackathon.dateLimiteInscription|date('d/m/Y')}}
											</p>
										</div>
									</div>
								</div>
							</div>
							{% set i = i + 1 %}
						</div>

						{% set dateLimiteInscription = unHackathon.dateLimiteInscription|date('Y-m-d') %}
						{% set dateActuelle = "now"|date("Y-m-d") %}
						<!-- si l'utilisateur est connecté et que la date limite d'inscription n'est pas dépassée,
						alors il peut s'inscrire à un hackathon -->
						{% if is_granted('IS_AUTHENTICATED_FULLY') and dateLimiteInscription > dateActuelle and unHackathon.nbPlacesMax >= 1 %}
							<form action="{{path('app_hackathon')}}" method="post">
								<div class="d-grid gap-2 col-6 mx-auto">
									<a class="btn btn-outline-primary" href="{{ path('app_inscription_hackathon',{idHackathon:unHackathon.id, idParticipant:app.user.id}) }}" role="button">S'inscrire</a>
									<br>
								</div>
							</form>
						{% endif %}
					</div>
				{% endfor %}				
			</div><br>
		</div>
	</div>
{% endblock %}

